.toolbar{
    grid-area: toolbar;
    background-color: #457b9d;
    height: 50px;
    color: white;
    border-radius: 15px;
  }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        background-color: #a8dadc;
        padding: 10px;
        width: auto;
        height: auto;
        
    }

      
    .grid-container > div {
      background-color: rgba(255, 255, 255, 0.8);
      text-align: center;
      padding: 20px 0;
      font-size: 30px;
      border-radius: 15px;
    }
      
    .item1 {
      grid-row: 1 / span 3;
    }
    .item2 {
      grid-row: 1 / span 1;
    }
    .item3 {
      grid-row: 2 / span 1;
      margin-top: -190px;
      padding-top: 0px;
      padding-bottom: 0px;

    }
    .item4 {
      grid-row: 3 / span 1;
    }
    .item5 {
      grid-row: 1 / span 3;
      height: 820px;
    }

    h6 {
      position: relative;
      margin: auto;
      margin-top: -343px;

      width: 200px;
      height: 100px;
      font-size: 50px;
    }

    .card {
      min-width: 75%;
      min-height: 75%;
      padding-right: 50px
    }

    .card_text {
        min-width: 100%;
        min-height: 100%;
        margin-bottom: -145px;
      }

    h6 ul li{
      text-align: left;
    }

    .logged-in {
      background-color: #a8dadc;
      border-radius: 15px;
    }

    .login {
      background-color: black;
    }

    .logo {
      margin-left: 300px;
      margin-top: -50px;
    }

    #level, #difficulty {
      font-size: 20px;
      border-radius: 15px;
      background: hsla(184, 96%, 20%, 0.548);
      width: 200px;
      height: 50px;
      text-align-last: center;
    }

    #difficulty{
      width: 50px;
      height: 50px;
      border-radius: 30px;
    }

    .item2 {
      height: 50px;
      margin-bottom: 20px
    }

    .item3 button {
      width: 100px;
      height: 75px;
      border-radius: 15px;
      margin-top: 50px;
      /* margin-top: -150px; */
    }

    /* #next_question {
      margin-top: -73px;
      font-size: 20px;
    } */

    .item5 h6 {
      margin-top: 0px;
    }

    .item1 h6{
      margin-top: -100px;
    }

    .name-form {
      position: relative;
      text-align: center;
      margin-top: -100px;
    }