.toolbar{
    grid-area: toolbar;
    background-color: #457b9d;
    height: 50px;
    color: white;}

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        background-color: #a8dadc;
        padding: 10px;
        width: auto;
        height: auto;
      }

    .no-js {
        background-color: #a8dadc; 
    }
      
      .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
      }
      
      .item1 {
        grid-row: 1 / span 3;
      }
      .item2 {
        grid-row: 1 / span 1;
      }
      .item3 {
        grid-row: 2 / span 1;
      }
      .item4 {
        grid-row: 3 / span 1;
      }
      .item5 {
        grid-row: 1 / span 3;
        height: 820px;
      }

      h6 {
        position: relative;
        margin: auto;
        margin-top: -343px;
        /* text-align: center; */
        width: 200px;
        height: 100px;
        font-size: 50px;
      }

      .card {
        min-width: 75%;
        min-height: 75%;
      }

      .card_text {
        min-width: 100%;
        min-height: 100%;
      }
    h6 ul li{
      text-align: left;
    }